<!--banner-->
<div class="container justify-content-center" *ngFor="let persona of profile">
  <img [src]="persona.foto" class="d-block w-100">

  <!--Perfil--> 
  <section id="sobre-mi" class="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-8">
          <div class="upload"> 
            <img [src]="persona.perfil"  class="rounded-circle w-100">
          </div>
          <div class="nombre-apellido"  data-aos="fade-down">
          <h1 class="text-center">{{persona.nombre}} {{persona.apellido}}</h1>
          <h4 class="text-white">{{persona.profesion}}</h4>
        </div>
      </div>
      </div>
