/*editor de banner*/

.btn.btn-baner{
    position: relative;
    background: rgb(239, 11, 129);
    margin-top: -100%;
    margin-left: 41%;
    border-radius: 30%;
    z-index: 1;  
}

/*fin de editor de banner*/

/*foto de perfil*/
.rounded-circle.w-100{
    position: absolute;
    height: auto;
    width: 24% !important;
    margin-top: -25%;
    margin-left: 6%;  
       
 }

 /*editor de perfil*/
.upload img {
    border-radius: 50%;
    border: 6px solid #f21696;
}
.upload .round input[text = "file"] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

 /*fin de editor de perfil*/

 /*Estilo Nombre y apellido*/
 .nombre-apellido{
    margin-left: 45%;
    color:#18f2ef;
    text-shadow: 0 0 5px #0be3e7,
    0 0 25px #0be3e7,
    0 0 50px#0be3e7,
    0 0 100px #0be3e7;
    text-transform: uppercase;   
}

