/*Estilos en el subtitulo experiencia, educacion y capacitacion*/
.section-subHead.mb-4{
    color:#ee7ad9;
    border: 5px solid #df0930;
    border-radius: 5px 2px 40px;
    box-shadow: 0 0 5px #f5099a, 0 0 15px #f5099a, 0 0 45px #f5099a;
}
/*Estilo en la caja de Educacion y capacitacion*/
.resume-list.b-box.p-4.mb-4{
    border:5px solid  #1fcfee;
    border-radius: 1rem;
    background: rgba(0, 0, 0)
}

/*Estilo de boton agregar*/
.btn.btn-curso{
    background: #6d07a4;
    border-radius:0 0 15px 15px;
    padding: 10px;
    text-align:center;
    overflow: hidden;
    transition: 0.2s;
    }
    .btn.btn-curso:hover{
        background:#ba09f5;
        box-shadow: 0 0 10px #a609f5, 0 0 40px #9f09f5, 0 0 80px #b209f5;
    }
    .btn.btn-curso{
    color: white;
    letter-spacing: 3px;
    font-size: 18px;
    }