<!-- Modal de Capacitacion para agregar -->
<form [formGroup]="Form" (ngSubmit)="onEnviar($event)" name="agregarcourseForm">
    <div class="modal fade" id="agregarcursoModal" tabindex="-1" aria-labelledby="agregarcursoModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="capacitacion" class="modal-title" id="agregarcursoModalLabel"><b>Agregar más Capacitaciones</b></h2>
            <i  (click)="refrescar()" class="fa-solid fa-rotate-left"></i>
          </div>
          <div class="modal-body">
              <div class="col-sm-10 mb-3">
              <label for="url" class="form-label"><span class="text-info"><h5>Enlace de la Foto</h5></span></label>
                  <input class="form-control" type="text" formControlName="imagen" id="url" multiple>
                  <div *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)"class="alert text-danger">
                    <div *ngIf="imagen.errors?.['required']">
                      <b>La imagen es requerido.</b>
                    </div>
                 </div>
            </div>
            <div class="col-sm-10 mb-3">
            <label for="start"><span class="text-info"><h5>Fecha de Inicio:</h5></span></label>
            <input type="date" id="start" name="trip-start" formControlName="fecha"
            value="2022-00-00"
            min="0000-01-01" max="0000-12-31"><br>
            <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"class="alert text-danger">
              <div *ngIf="fecha.errors?.['required']">
                <b>La fecha es requerido.</b>
              </div>
           </div>
            </div>
            <div class="col-sm-10 mb-3">
              <label for="cursoForm" class="form-label"><span class="text-info"><h5>Nombre del curso</h5></span></label>
              <textarea class="form-control" formControlName="curso" id="cursoForm" rows="3"></textarea>
              <div *ngIf="curso.invalid && (curso.dirty || curso.touched)"class="alert text-danger">
                <div *ngIf="curso.errors?.['required']">
                  <b>El curso es requerido.</b>
                </div>
             </div>
              </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success" data-bs-toggle="modal">Agregar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
