<!-- Modal de proyecto para agregar -->
<form [formGroup]="Form" (ngSubmit)="onEnviar($event)" name="agreproyectoForm">
    <div class="modal fade" id="agregarproyecModal" tabindex="-1" aria-labelledby="agregarproyecModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="proyecto" class="modal-title" id="agregarproyect"><b>Agregar más Proyectos</b></h2>
              <i  (click)="refrescar()" class="fa-solid fa-rotate-left"></i>
            </div>
            <div class="modal-body">
              <div class="col-2">
                <label for="tituloForm" class="form-label"><span class="text-info"><h5>Titulo</h5></span></label>
                </div>
                <div class="col-sm-10 mb-3">
                <input type="text" class="form-control" formControlName="subtitulo" id="tituloForm" placeholder="nombre del proyecto">
                <div *ngIf="subtitulo.invalid && (subtitulo.dirty || subtitulo.touched)"class="alert text-danger">
                  <div *ngIf="subtitulo.errors?.['required']">
                    <b>El Titulo es requerido.</b>
                  </div>
               </div>
              </div>
              <div class="col-4">
                <label for="logo" class="form-label"><span class="text-info"><h5>Enlace de la Foto</h5></span></label>
                </div>
                <div class="col-sm-10 mb-3">
                  <input class="form-control" type="text" formControlName="imagen" id="logo" multiple>
                  <div *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)"class="alert text-danger">
                    <div *ngIf="imagen.errors?.['required']">
                      <b>La imagen es requerido.</b>
                    </div>
                 </div>
              </div>
              <div class="col-4">
              <label for="start"><span class="text-info"><h5>Fecha de Inicio:</h5></span></label>
              </div>
              <div class="col-4 mb-3">
              <input type="date" id="start" name="trip-start" formControlName="fecha"
              value="2022-00-00"
              min="0000-01-01" max="0000-12-31">
              <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"class="alert text-danger">
                <div *ngIf="fecha.errors?.['required']">
                  <b>La fecha es requerido.</b>
                </div>
             </div>
            </div>
            <div class="col-3">
            <label for="categoriaForm" class="form-label"><span class="text-info"><h5>Categoria</h5></span></label>
            </div>
            <div class="col-sm-10 mb-3">
            <input type="text" class="form-control" formControlName="descripcion" id="categoriaForm" placeholder="ejemplo, html y css">
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"class="alert text-danger">
              <div *ngIf="descripcion.errors?.['required']">
                <b>La categoria es requerido.</b>
              </div>
           </div>
            </div>
            <div class="col-5">
            <label for="basic-url" class="form-label"><span class="text-info"><h5>Link de la página Web</h5></span></label>
            </div>
            <div class="col-sm-10 mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="urlbasic"><i class="fa-solid fa-globe "></i></span>
              <input type="text" class="form-control" formControlName="enlace" id="url" aria-describedby="urlbasic">
              <div *ngIf="enlace.invalid && (enlace.dirty || enlace.touched)"class="alert text-danger">
                <div *ngIf="enlace.errors?.['required']">
                  <b>La URL es requerido.</b>
                </div>
             </div>
            </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success" data-bs-toggle="modal">Agregar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          </div>
          </div>
        </div>
      </div>
      </div>
    </form>
