<!-- Modal de Habilidades-->
<form [formGroup]="Form" (ngSubmit)="onEnviar($event)" name="skillForm">
        <div class="container-fluid pt-5">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="habilidades" class="modal-title" id="skillModalLabel"><b>Habilidades</b></h2>
              <i  (click)="refrescar()" class="fa-solid fa-rotate-left"></i>
            </div>
            <div class="modal-body">
              <input type="hidden" formControlName="id" [ngModel]="habilidades.id">
              <div class="col-sm-10 pt-4">
                <label for="porcentajes"><span class="text-info"><h4>Porcentaje de progreso:</h4></span></label>
                <input list="porcentajes" formControlName="porcentaje" [ngModel]="habilidades.porcentaje">
                <datalist id="porcentajes">
                  <option>10</option>
                  <option>30</option>
                  <option>50</option>
                  <option>70</option>
                  <option>100</option>
                </datalist>
                <div *ngIf="porcentaje.invalid && (porcentaje.dirty || porcentaje.touched)"class="alert text-danger">
                  <div *ngIf="porcentaje.errors?.['required']">
                    <b>El numero de porcentaje es requerido.</b>
                  </div>
               </div>
                <div class="mb-3 pt-4">
                  <label for="skill" class="form-label"><span class="text-primary"><h4>ej: html</h4></span></label>
                  <input type="text" class="form-control" formControlName="skill" id="skill" placeholder="" [ngModel]="habilidades.skill">
                  <div *ngIf="skill.invalid && (skill.dirty || skill.touched)"class="alert text-danger">
                    <div *ngIf="skill.errors?.['required']">
                      <b>La habilidad es requerido.</b>
                    </div>
                 </div>
                </div>
              </div>
              <div class="modal-footer pt-2">
                <button type="submit" class="btn btn-success" data-bs-toggle="modal">Agregar</button>
                <button (click)="salir()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
      </form>
