/*Habilidades*/
.caja-barras{
    position: relative;
    box-sizing: border-box;
    width: 50%;
    min-width: 57%;
    margin-top: 3%;
     margin-left: 30%;   
}
.contenedor{
    width: 147%;
    padding: 30px 30px 50px;
    background:#040016;
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 10%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); 
}
/*Estilo en el titulo "Habilidades"*/
.contenedor *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(217, 242, 245);
    font-weight: 500;
}
h2{
    initial-letter: 2px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}
.skills:not(:last-child){
    margin-bottom: 30px;
}
.detalles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/*Estilo de boton agregar*/
.btn.btn-skills{
    background: #6d07a4;
    border-radius:0 0 15px 15px;
    padding: 10px;
    text-align:center;
    overflow: hidden;
    transition: 0.2s;
    }
    .btn.btn-skills:hover{
        background:#ba09f5;
        box-shadow: 0 0 10px #a609f5, 0 0 40px #9f09f5, 0 0 80px #b209f5;
    }
    .btn.btn-skills{
    color: white;
    letter-spacing: 3px;
    font-size: 18px;
    }