<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404 Error</title>
    <link rel="stylesheet" type="text/css" href="">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--CSS animations to make a cool 404 page.-->

<section class="error-container">
  <span>4</span>
  <span><span class="screen-reader-text">0</span></span>
  <span>4</span>
</section>
<p class="zoom-area">UPS!!! ERROR :( </p>
<div class="link-container">
    <a href="/" class="more-link">CLICK PARA VOLVER A LA PAGINA PRINCIPAL</a>
</div>
</body>
</html>
