/*ventanas modales*/
.modal-body{
    background: rgb(4, 0, 18);
}
.modal-footer{
    background: rgb(4, 0, 18);
}
.modal-title{
    color: rgb(240, 7, 205);
}

i.fa-solid.fa-rotate-left{
    color:rgb(244, 243, 245)
}